# Debugging 
Drop all tables, so that main.py can be run again entirely

In [41]:
from sqlalchemy import MetaData
from gcp_interactions import conn_to_psql, close_conn_to_sql

print("Connecting to GCP database")
pool, connector = conn_to_psql()
print("Connection established")

metadata = MetaData()
metadata.reflect(bind=pool)

for table in metadata.sorted_tables:
    print(f"Dropping table {table}")
    pool.execute(f"DROP TABLE IF EXISTS {table} CASCADE")
print("All tables dropped")


close_conn_to_sql(pool, connector)
print("Connection closed")

Connecting to GCP database
Connection established
Data correctly inserted.
SQL query result :

Result glassdoor:
     id                             gatrackerdata_jobtitle  \
0     1                 Biogas Project Development Manager
1     2  Quality Manager - Boehringer Ingelheim Healthc...
2     3     Senior Software Engineer (PHP, Elixir, Python)
3     4                                Senior SQA Engineer
4     5                                   Research Manager
5     6                            PS Technical Consultant
6     7                                B2B Product Manager
7  6068                          Machine Learning Engineer
8     8  Post-Doctoral Research Visit F/M Microscopic d...
9     9  Technical Consultant for Microsoft Infrastruct...

  gatrackerdata_location gatrackerdata_locationtype  \
0                 Warsaw                       CITY
1                   None                       CITY
2                 Milano                       CITY
3                Karachi                       CITY
4              Bengaluru                       CITY
5                   None                       CITY
6                   None                       CITY
7              Coleshill                       CITY
8      Villeneuve-d'Ascq                       CITY
9                Jakarta                       CITY

        gatrackerdata_sector  header_easyapply          header_employername  \
0                    Finance              True                  Modus Group
1  Biotech & Pharmaceuticals             False         Boehringer Ingelheim
2                       None             False               Immobiliare.it
3                       None             False                        Codup
4          Business Services             False  MARKELYTICS SOLUTIONS INDIA
5     Information Technology             False                          NCR
6          Business Services             False                        Nisha
7                       None             False           Geospatial Insight
8     Information Technology             False                        Inria
9         Accounting & Legal             False  Mitra Integrasi Informatika

                                     header_jobtitle  \
0                 Biogas Project Development Manager
1  Quality Manager - Boehringer Ingelheim Healthc...
2     Senior Software Engineer (PHP, Elixir, Python)
3                                Senior SQA Engineer
4                                   Research Manager
5                            PS Technical Consultant
6                                B2B Product Manager
7                          Machine Learning Engineer
8  Post-Doctoral Research Visit F/M Microscopic d...
9  Technical Consultant for Microsoft Infrastruct...

                     header_location header_posted  ...  overview_competitors  \
0                             Warsaw  Oct 24, 2019  ...                  None
1                              Porto   Nov 4, 2019  ...                  None
2                              Milan  Oct 28, 2019  ...                  None
3                            Karāchi   Nov 4, 2019  ...                  None
4                          Bengaluru   Nov 1, 2019  ...                  None
5                           Colombia  Oct 18, 2019  ...                  None
6                            Central   Nov 1, 2019  ...                  None
7  Coleshill, West Midlands, England  Aug 16, 2019  ...                  None
8                  Villeneuve-d'Ascq   Nov 4, 2019  ...                  None
9                            Jakarta   Nov 5, 2019  ...                  None

          rating_ceo_name rating_ceoapproval rating_recommendtofriend  \
0     Liudas Liutkevičius                NaN                      NaN
1  Hubertus von Baumbach                0.80                     0.76
2                    None                NaN                     0.47
3                    None                NaN                     0.00
4                    None                NaN                     0.67
5         Michael Hayford               0.72                     0.60
6            Paule Tzuker                NaN                     0.57
7                    None                NaN                      NaN
8         Bruno Sportisse               0.92                     0.85
9                    None                NaN                     0.79

  rating_starrating benefits_comments benefits_highlights reviews  \
0               NaN              2801                2801    2801
1               3.8              2802                2802    2802
2               2.4              2803                2803    2803
3               1.5              2804                2804    2804
4               3.5              2805                2805    2805
5               3.3              2806                2806    2806
6               3.5              2807                2807    2807
7               NaN             54868               54868   54868
8               4.0              2808                2808    2808
9               3.5              2809                2809    2809

  salary_salaries  wwfu
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None
7            None  None
8            None  None
9            None  None

[10 rows x 42 columns]




Result bh:
      id benefits_highlights_val_highlightphrase benefits_highlights_val_icon  \
0  44001  good flexibility for working from home                          wfh
1  44002                                    None                         None
2  44003                                    None                         None
3  44004                                    None                         None
4  44005                                    None                         None
5  44006                                    None                         None
6  44007                                    None                         None
7  44008    Nothing special to write about here                      sickDays
8  44009                                    None                         None
9  44010                                    None                         None

  benefits_highlights_val_name  index  benefits_highlights_val_commentcount
0               Work From Home    0.0                                  17.0
1                         None    NaN                                   NaN
2                         None    NaN                                   NaN
3                         None    NaN                                   NaN
4                         None    NaN                                   NaN
5                         None    NaN                                   NaN
6                         None    NaN                                   NaN
7                     Sick Pay    0.0                                   3.0
8                         None    NaN                                   NaN
9                         None    NaN                                   NaN




Result r:
      id  index                        reviews_val_cons reviews_val_date  \
0  44001    0.0    Still not big enough in market place     Oct 20, 2010
1  44002    NaN                                    None             None
2  44003    NaN                                    None             None
3  44004    0.0  Nothing important on my point of view.      4 weeks ago
4  44005    NaN                                    None             None
5  44006    NaN                                    None             None
6  44007    NaN                                    None             None
7  44008    NaN                                    None             None
8  44009    NaN                                    None             None
9  44010    NaN                                    None             None

  reviews_val_featured  reviews_val_helpfulcount  reviews_val_id  \
0                false                       0.0        689142.0
1                 None                       NaN             NaN
2                 None                       NaN             NaN
3                false                       0.0      29659857.0
4                 None                       NaN             NaN
5                 None                       NaN             NaN
6                 None                       NaN             NaN
7                 None                       NaN             NaN
8                 None                       NaN             NaN
9                 None                       NaN             NaN

                                    reviews_val_pros reviews_val_publishedon  \
0  Great brand , Good leadership , Clear business...            Oct 20, 2010
1                                               None                    None
2                                               None                    None
3  Learn new technologies, helpful people, good m...             4 weeks ago
4                                               None                    None
5                                               None                    None
6                                               None                    None
7                                               None                    None
8                                               None                    None
9                                               None                    None

           reviews_val_publisher  ...   reviews_val_reviewerjobtitle  \
0                       Director  ...                       Director
1                           None  ...                           None
2                           None  ...                           None
3  Software Engineer(Internship)  ...  Software Engineer(Internship)
4                           None  ...                           None
5                           None  ...                           None
6                           None  ...                           None
7                           None  ...                           None
8                           None  ...                           None
9                           None  ...                           None

   reviews_val_reviewerlocation  reviews_val_reviewerstatus  \
0                 Tokyo (Japan)             Former Employee
1                          None                        None
2                          None                        None
3            Alexandria (Egypt)             Former Employee
4                          None                        None
5                          None                        None
6                          None                        None
7                          None                        None
8                          None                        None
9                          None                        None

   reviews_val_summarypoints_ceoapproval  reviews_val_summarypoints_outlook  \
0                                    1.0                                0.0
1                                    NaN                                NaN
2                                    NaN                                NaN
3                                    1.0                                1.0
4                                    NaN                                NaN
5                                    NaN                                NaN
6                                    NaN                                NaN
7                                    NaN                                NaN
8                                    NaN                                NaN
9                                    NaN                                NaN

   reviews_val_summarypoints_recommend  \
0                                  1.0
1                                  NaN
2                                  NaN
3                                  1.0
4                                  NaN
5                                  NaN
6                                  NaN
7                                  NaN
8                                  NaN
9                                  NaN

                                  reviews_val_title  \
0  American Express Japan - Excellent place to work
1                                              None
2                                              None
3            one of the best places to be intern in
4                                              None
5                                              None
6                                              None
7                                              None
8                                              None
9                                              None

  reviews_val_advicetomanagement reviews_val_companyresponse  \
0                           None                        None
1                           None                        None
2                           None                        None
3                           None                        None
4                           None                        None
5                           None                        None
6                           None                        None
7                           None                        None
8                           None                        None
9                           None                        None

  reviews_val_reviewresponses
0                          -1
1                          -1
2                          -1
3                          -1
4                          -1
5                          -1
6                          -1
7                          -1
8                          -1
9                          -1

[10 rows x 28 columns]




Result w:
     id  index                                      wwfu_val_body  \
0   449      0  it s about memory the world is moving to a new...
1   450      0  our mission to be earth s most customer centri...
2   451      0  white clarke group is a world leading provider...
3   452      0  the world is at a major turning point technolo...
4   453      0  we are creators free thinkers and basically a ...
5   454      0  at youview we live and breathe tv bringing tog...
6   455      0  our mission to be earth s most customer centri...
7   456      0  why work for vision critical you want to help ...
8  4765      0  we are schneider electric we believe access to...
9  6160      0  join us why ubs we re a truly global collabora...

   wwfu_val_id   wwfu_val_title wwfu_val_type  wwfu_val_videos  \
0       133403         About Us        CUSTOM              NaN
1        67416      Our Mission          TEXT            317.0
2       118067      At a Glance        CUSTOM              NaN
3        88462         Life@IBM        CUSTOM              NaN
4       122347  Future Creators        OMEDIA            321.0
5        48825          Careers        CUSTOM              NaN
6        67416      Our Mission          TEXT            326.0
7        28531       Our people        CUSTOM              NaN
8         6988       Who we are        OMEDIA           4418.0
9        52702      Our Company        CUSTOM              NaN

   wwfu_val_photos wwfu_val_captions
0              NaN              None
1              NaN              None
2              NaN              None
3              NaN              None
4            205.0              None
5              NaN              None
6              NaN              None
7              NaN              None
8              NaN              None
9              NaN              None




Result wvv:
     id  index                                wwfu_val_videos_val
0  4327      0  <iframe width="560" height="315" src="https://...
1  4328      0  <iframe width="560" height="315" src="https://...
2  4329      0  <iframe width="560" height="315" src="https://...
3  4330      0  <iframe width="560" height="315" src="https://...
4  4331      0  <iframe width="560" height="315" src="https://...
5  4332      0  <iframe width="560" height="315" src="https://...
6  4333      0  <iframe width="560" height="315" src="https://...
7  4334      0  <iframe width="560" height="315" src="https://...
8  4335      0  <iframe width="560" height="315" src="https://...
9  4336      0  <iframe width="560" height="315" src="https://...




Result wvc:
     id  index                              wwfu_val_captions_val
0  1407      0                              Our interview process
1  1408      0           Andrew Watson | Head of Machine Learning
2  1409      0           Melloney Luckhurst- UI Designer at Dyson
3  1410      0                              Our interview process
4  1411      0                              Our interview process
5  1412      0  Ritesh Agarwal - Founder and Group CEO, OYO Ho...
6  1413      0       OYO UK - world's fastest growing hotel chain
7  1414      0  Opportunities at Thermo Fisher Scientific Unit...
8  1415      0           Our Culture Thermo Fisher United Kingdom
9  1416      0                           Research and Development




Connection closed