In [119]:
import pandas as pd
import numpy as np
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    Integer,
    String,
    Float,
    Boolean,
    Date,
    ForeignKey,
)
import re

from update_psql import (
    conn_to_psql,
    # upload_to_psql,
    close_conn_to_sql,
)


# TODO: Mettre data constraints pour DATES FIELDS
# TODO: Les FOREIGN KEYS DANS LES SQL QUERIES


pd.set_option("display.max_columns", None)

df = pd.read_csv("glassdoor_dataset/glassdoor.csv")

def replace_dots(df):
    """Replace dots with underscores in column names for better SQL compatibility in queries"""
    
    df.columns = [col.replace('.', '_') for col in df.columns]
    
    return df

df = replace_dots(df)

# Filtering the main glassdoor.csv file, a lot of columns are HTML or URL related elements that are not very relevant for our purpose.
filtered_df = df.loc[
    :,
    [
        "gaTrackerData_jobTitle",
        "gaTrackerData_location",
        "gaTrackerData_locationType",
        "gaTrackerData_sector",
        "header_easyApply",
        "header_employerName",
        "header_jobTitle",
        "header_location",  # Location City (most of times)
        "header_posted",  # Date job was posted
        "header_rating",  # Company rating by employees
        "header_urgencyLabel",  # Misleading column name, it actually indicates the presence of the "2019 Glassdoor Best Place to Work" award on the job posting
        "header_payHigh",
        "header_payMed",
        "header_payLow",
        "job_description",
        "job_jobSource",
        "map_country",  # do something with country_names_2_digit_codes
        "map_employerName",
        "map_lat",  # 0 for NaN
        "map_lng",  # 0 for NaN
        "map_location",
        "overview_foundedYear",  # 0 for NaN
        "overview_hq",
        "overview_industry",
        "overview_revenue",
        "overview_sector",
        "overview_size",
        "overview_stock",
        "overview_type",
        "overview_description",
        "overview_mission",
        "overview_competitors",  # foreign key
        "rating_ceo_name",
        "rating_ceoApproval",  # <0 or NaN for missing data
        "rating_recommendToFriend",  # <0 or NaN for missing data
        "rating_starRating",
        "benefits_comments",  # foreign key
        "benefits_highlights",  # foreign key
        "reviews",  # foreign key
        "salary_salaries",  # foreign key
        "wwfu",  # foreign key
    ],
]


# Transform columns with floats having zero decimal value into integers
columns_to_int = [
    "header_payHigh",
    "header_payMed",
    "header_payLow",
    "overview_foundedYear",
    "overview_competitors",
    "benefits_comments",
    "benefits_highlights",
    "wwfu",
]
for column in columns_to_int:
    filtered_df[column] = filtered_df[column].astype(pd.Int64Dtype())


# Replace negative values with NaN
columns_to_replace_neg = [
    "header_rating",
    "rating_starRating",
    "rating_ceoApproval",
    "rating_recommendToFriend",
]
for column in columns_to_replace_neg:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 0 else x)

# Replace zero values with NaN
columns_to_replace_zero = [
    "map_lat",
    "map_lng",
]
for column in columns_to_replace_zero:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x == 0 else x)

# Replace outlier/erroneous low salaries values with NaN
columns_to_replace_outlier_salaries = [
    "header_payHigh",
    "header_payMed",
    "header_payLow",
    "salary_salaries",
]
for column in columns_to_replace_outlier_salaries:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if pd.isna(x) or x < 10000 else x)

# Replace outlier/erroneous years values with NaN
columns_to_replace_outlier_years = [
    "overview_foundedYear",
]
for column in columns_to_replace_outlier_years:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 1000 else x)

# Remove only rows with all missing values
filtered_df.dropna(how="all", inplace=True)

# Remove duplicates
filtered_df.drop_duplicates(inplace=True)

def clean_job_description(text):
    """Removes all the HTML/CSS tags and other random junk from the text, only keeping words"""
    
    if text is None or pd.isna(text):
        return text

    # Remove HTML tags
    text = re.sub("<[^>]+>", "", text)

    # Remove HTML entities
    text = re.sub("&\w+;|&#\d+;", "", text)

    # Convert text to lowercase
    text = text.lower()

    # Remove unwanted characters
    text = re.sub("[^\w\s]+", " ", text)

    # Remove extra spaces
    text = re.sub("\s+", " ", text)

    # Strip leading/trailing spaces
    text = text.strip()

    return text

filtered_df["job_description"] = filtered_df["job_description"].apply(clean_job_description)

print(f"dtypes : \n{filtered_df.dtypes}\n\n")
print(
    f"Non-NaN percentage : \n{(filtered_df.count()/ len(filtered_df) * 100).round(2)}%"
)
print("\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n")
print(filtered_df.head(60))
print(filtered_df.columns)
print(f"There are {len(filtered_df.columns)} columns")
print(filtered_df.describe())


create_table_glassdoor = '''
CREATE TABLE glassdoor (
    id SERIAL PRIMARY KEY,
    gaTrackerData_jobTitle VARCHAR,
    gaTrackerData_location VARCHAR,
    gaTrackerData_locationType VARCHAR,
    gaTrackerData_sector VARCHAR,
    header_easyApply BOOLEAN,
    header_employerName VARCHAR,
    header_jobTitle VARCHAR,
    header_location VARCHAR,
    header_posted VARCHAR,
    header_rating REAL,
    header_urgencyLabel VARCHAR,
    header_payHigh INTEGER,
    header_payMed INTEGER,
    header_payLow INTEGER,
    job_description VARCHAR,
    job_jobSource VARCHAR,
    map_country VARCHAR,
    map_employerName VARCHAR,
    map_lat REAL,
    map_lng REAL,
    map_location VARCHAR,
    overview_foundedYear INTEGER,
    overview_hq VARCHAR,
    overview_industry VARCHAR,
    overview_revenue VARCHAR,
    overview_sector VARCHAR,
    overview_size VARCHAR,
    overview_stock VARCHAR,
    overview_type VARCHAR,
    overview_description VARCHAR,
    overview_mission VARCHAR,
    overview_competitors INTEGER,
    rating_ceo_name VARCHAR,
    rating_ceoApproval REAL,
    rating_recommendToFriend REAL,
    rating_starRating REAL,
    benefits_comments INTEGER,
    benefits_highlights INTEGER,
    reviews INTEGER,
    salary_salaries REAL,
    wwfu INTEGER,
    FOREIGN KEY (overview_competitors) REFERENCES glassdoor_overview_competitors(id),
    FOREIGN KEY (benefits_comments) REFERENCES glassdoor_benefits_comments(id),
    FOREIGN KEY (benefits_highlights) REFERENCES glassdoor_benefits_highlights(id),
    FOREIGN KEY (reviews) REFERENCES glassdoor_reviews(id),
    FOREIGN KEY (salary_salaries) REFERENCES glassdoor_salary_salaries(id),
    FOREIGN KEY (wwfu) REFERENCES glassdoor_wwfu(id)
);
'''



df_oc = pd.read_csv("glassdoor_dataset/glassdoor_overview_competitors.csv")

replace_dots(df_oc)

print(df_oc.head(10))
print(df_oc.describe())
print(df_oc.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_oc = '''
CREATE TABLE glassdoor_overview_competitors (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    overview_competitors_val VARCHAR
);
'''



df_bc = pd.read_csv("glassdoor_dataset/glassdoor_benefits_comments.csv")

df_bc = replace_dots(df_bc)

# Transform floats with zero decimal values to integers
columns_to_int = [
    "index",
    "benefits_comments_val_rating",
]
for column in columns_to_int:
    df_bc[column] = df_bc[column].astype(pd.Int64Dtype())

print(df_bc.head(10))
print(df_bc.describe())
print(df_bc.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_bc = '''
CREATE TABLE glassdoor_benefits_comments (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    benefits_comments_val_city VARCHAR,
    benefits_comments_val_comment VARCHAR,
    benefits_comments_val_createDate VARCHAR,
    benefits_comments_val_currentJob VARCHAR,
    benefits_comments_val_jobTitle VARCHAR,
    benefits_comments_val_rating INTEGER,
    benefits_comments_val_state VARCHAR
);
'''



df_bh = pd.read_csv("glassdoor_dataset/glassdoor_benefits_highlights.csv")

replace_dots(df_bh)

# Transform floats with zero decimal values to integers
columns_to_int = [
    "index",
    "benefits_highlights_val_commentCount",
]
for column in columns_to_int:
    df_bh[column] = df_bh[column].astype(pd.Int64Dtype())


print(df_bh.head(10))
print(df_bh.describe())
print(df_bh.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_bh = '''
CREATE TABLE glassdoor_benefits_highlights (
    id INTEGER PRIMARY KEY,
    benefits_highlights_val_highlightPhrase VARCHAR,
    benefits_highlights_val_icon VARCHAR,
    benefits_highlights_val_name VARCHAR,
    index INTEGER,
    benefits_highlights_val_commentCount INTEGER
);

'''



df_r = pd.read_csv("glassdoor_dataset/glassdoor_reviews.csv")

replace_dots(df_r)

# Transform floats with zero decimal values to integers
# I found that in some columns, some rare values actually contain decimals (3.5/5 rating for example), I chose to keep those columns as floats
columns_to_int = [
    "index",
    "reviews_val_helpfulCount",
    "reviews_val_id",
    # "reviews_val_reviewRatings_careerOpportunities", # Some rare decimals are hidden in this column, keeping as floats
    # "reviews_val_reviewRatings_compBenefits",  # Some decimals are hidden in this column, keeping as floats
    "reviews_val_reviewRatings_cultureValues",
    "reviews_val_reviewRatings_overall", 
    # "reviews_val_reviewRatings_seniorManagement",  # Some decimals are hidden in this column, keeping as floats
    # "reviews_val_reviewRatings_worklifeBalance",  # Some decimals are hidden in this column, keeping as floats
    "reviews_val_summaryPoints_ceoApproval",
    "reviews_val_summaryPoints_outlook",
    "reviews_val_summaryPoints_recommend",
    "reviews_val_reviewResponses",
]
for column in columns_to_int:
    df_r[column] = df_r[column].astype(pd.Int64Dtype())

print(df_r.head(20))
print(df_r.describe())
print(df_r.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_r = '''
CREATE TABLE glassdoor_reviews (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    reviews_val_cons VARCHAR,
    reviews_val_date VARCHAR,
    reviews_val_featured VARCHAR,
    reviews_val_helpfulCount INTEGER,
    reviews_val_id INTEGER,
    reviews_val_pros VARCHAR,
    reviews_val_publishedOn VARCHAR,
    reviews_val_publisher VARCHAR,
    reviews_val_reviewRatings_careerOpportunities REAL,
    reviews_val_reviewRatings_compBenefits REAL,
    reviews_val_reviewRatings_cultureValues INTEGER,
    reviews_val_reviewRatings_overall INTEGER,
    reviews_val_reviewRatings_seniorManagement REAL,
    reviews_val_reviewRatings_worklifeBalance REAL,
    reviews_val_reviewerDuration VARCHAR,
    reviews_val_reviewerInformation VARCHAR,
    reviews_val_reviewerJobTitle VARCHAR,
    reviews_val_reviewerLocation VARCHAR,
    reviews_val_reviewerStatus VARCHAR,
    reviews_val_summaryPoints_ceoApproval INTEGER,
    reviews_val_summaryPoints_outlook INTEGER,
    reviews_val_summaryPoints_recommend INTEGER,
    reviews_val_title VARCHAR,
    reviews_val_adviceToManagement VARCHAR,
    reviews_val_companyResponse VARCHAR,
    reviews_val_reviewResponses INTEGER
);
'''



df_rvr = pd.read_csv("glassdoor_dataset/glassdoor_reviews_val_reviewResponses.csv")

replace_dots(df_rvr)

# # Cleaning HTML/CSS tags
df_rvr["reviews_val_reviewResponses_val_responseText"] = df_rvr["reviews_val_reviewResponses_val_responseText"].apply(clean_job_description)

print(df_rvr.head(20))
print(df_rvr.describe())
print(df_rvr.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_rvr = '''
CREATE TABLE glassdoor_reviews_val_reviewResponses (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    reviews_val_reviewResponses_val_createDate VARCHAR,
    reviews_val_reviewResponses_val_helpfulCount INTEGER,
    reviews_val_reviewResponses_val_jobTitle VARCHAR,
    reviews_val_reviewResponses_val_notHelpfulCount INTEGER,
    reviews_val_reviewResponses_val_responseText VARCHAR,
    reviews_val_reviewResponses_val_responseTextLength INTEGER,
    reviews_val_reviewResponses_val_totalHelpfulCount INTEGER,
    reviews_val_reviewResponses_val_updateDate VARCHAR
);
'''



df_ss = pd.read_csv("glassdoor_dataset/glassdoor_salary_salaries.csv")

replace_dots(df_ss)

# Transform floats with zero decimal values to integers
columns_to_int = [
    "index",
    "salary_salaries_val_basePayCount",
]
for column in columns_to_int:
    df_ss[column] = df_ss[column].astype(pd.Int64Dtype())

print(df_ss.head(60))
print(df_ss.describe())
print(df_ss.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_ss = '''
CREATE TABLE glassdoor_salary_salaries (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    salary_salaries_val_basePayCount INTEGER,
    salary_salaries_val_jobTitle VARCHAR,
    salary_salaries_val_payPeriod VARCHAR,
    salary_salaries_val_salaryPercentileMap_payPercentile10 REAL,
    salary_salaries_val_salaryPercentileMap_payPercentile90 REAL,
    salary_salaries_val_salaryPercentileMap_payPercentile50 REAL,
    salary_salaries_val_salaryType VARCHAR
);
'''



df_w = pd.read_csv("glassdoor_dataset/glassdoor_wwfu.csv")

replace_dots(df_w)

# Transform floats with zero decimal values to integers
columns_to_int = [
    "wwfu_val_videos",
    "wwfu_val_photos",
    "wwfu_val_captions",
]
for column in columns_to_int:
    df_w[column] = df_w[column].astype(pd.Int64Dtype())

# Cleaning HTML/CSS tags
df_w["wwfu_val_body"] = df_w["wwfu_val_body"].apply(clean_job_description)

print(df_w.head(10))
print(df_w.describe())
print(df_w.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_w = '''
CREATE TABLE glassdoor_wwfu (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    wwf_val_body VARCHAR,
    wwf_val_id INTEGER,
    wwf_val_title VARCHAR,
    wwf_val_type VARCHAR,
    FOREIGN KEY (wwf_val_videos) INTEGER,
    wwf_val_photos INTEGER,
    wwf_val_captions INTEGER
);
'''



df_wvc = pd.read_csv("glassdoor_dataset/glassdoor_wwfu_val_captions.csv")

replace_dots(df_wvc)


print(df_wvc.head(10))
print(df_wvc.describe())
print(df_wvc.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_wvc = '''
CREATE TABLE glassdoor_wwfu_val_captions (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    wwfuf_val_captions_val VARCHAR
);
'''



df_wvp = pd.read_csv("glassdoor_dataset/glassdoor_wwfu_val_photos.csv")

replace_dots(df_wvp)


print(df_wvp.head(10))
print(df_wvp.describe())
print(df_wvp.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_wvp = '''
CREATE TABLE glassdoor_wwfu_val_photos (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    wwfuf_val_photos_val VARCHAR
);
'''



df_wvv = pd.read_csv("glassdoor_dataset/glassdoor_wwfu_val_videos.csv")

replace_dots(df_wvv)

print(df_wvv.head(10))
print(df_wvv.describe())
print(df_wvv.dtypes)
print("\n\n\n\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n\n\n\n")

create_table_glassdoor_wvv = '''
CREATE TABLE glassdoor_wwfu_val_videos (
    id INTEGER PRIMARY KEY,
    index INTEGER,
    wwfuf_val_videos_val VARCHAR
);
'''






























# pool, connector = conn_to_psql()


# # Upload the DataFrame to the database using df.to_sql()
# df.to_sql('users', pool, if_exists='replace', index=False)


# filtered_df.to_sql(SQL_DB_TABLE_NAME2, pool, if_exists="replace", index=False, dtype=column_data_types)


# close_conn_to_sql(pool, connector)

dtypes :
gaTrackerData_jobTitle         object
gaTrackerData_location         object
gaTrackerData_locationType     object
gaTrackerData_sector           object
header_easyApply                 bool
header_employerName            object
header_jobTitle                object
header_location                object
header_posted                  object
header_rating                 float64
header_urgencyLabel            object
header_payHigh                float64
header_payMed                 float64
header_payLow                 float64
job_description                object
job_jobSource                  object
map_country                    object
map_employerName               object
map_lat                       float64
map_lng                       float64
map_location                   object
overview_foundedYear          float64
overview_hq                    object
overview_industry              object
overview_revenue               object
overview_sector                object
overview_size                  object
overview_stock                 object
overview_type                  object
overview_description           object
overview_mission               object
overview_competitors            Int64
rating_ceo_name                object
rating_ceoApproval            float64
rating_recommendToFriend      float64
rating_starRating             float64
benefits_comments               Int64
benefits_highlights             Int64
reviews                         int64
salary_salaries               float64
wwfu                            Int64
dtype: object


Non-NaN percentage :
gaTrackerData_jobTitle        100.00
gaTrackerData_location         57.48
gaTrackerData_locationType    100.00
gaTrackerData_sector           71.34
header_easyApply              100.00
header_employerName            98.04
header_jobTitle               100.00
header_location               100.00
header_posted                 100.00
header_rating                  90.70
header_urgencyLabel             2.74
header_payHigh                  2.20
header_payMed                   2.20
header_payLow                   2.20
job_description               100.00
job_jobSource                 100.00
map_country                    69.73
map_employerName               89.02
map_lat                        88.69
map_lng                        88.69
map_location                  100.00
overview_foundedYear           64.67
overview_hq                    88.28
overview_industry              71.32
overview_revenue               88.98
overview_sector                71.34
overview_size                  88.98
overview_stock                 28.05
overview_type                  88.98
overview_description           52.61
overview_mission               31.55
overview_competitors           29.03
rating_ceo_name                67.96
rating_ceoApproval             64.62
rating_recommendToFriend       79.69
rating_starRating              79.69
benefits_comments             100.00
benefits_highlights           100.00
reviews                       100.00
salary_salaries                82.98
wwfu                           11.34
dtype: float64%



%%%%%%%%%%%%%%%%%%%%%%%%



                               gaTrackerData_jobTitle  \
0                  Biogas Project Development Manager
1   Quality Manager - Boehringer Ingelheim Healthc...
2      Senior Software Engineer (PHP, Elixir, Python)
3                                 Senior SQA Engineer
4                                    Research Manager
5                             PS Technical Consultant
6                                 B2B Product Manager
7   Post-Doctoral Research Visit F/M Microscopic d...
8   Technical Consultant for Microsoft Infrastruct...
9                              ETL/Database Developer
10  Digital Product Manager, Digital Customer Onbo...
11                                    Program Manager
12            Key Account Manager - Private Hospitals
13                                   Big Data Analyst
14                            Partner Success Manager
15  Business Analyst IFRS 17 Implementation Paris F/H
16                               Data Scientist media
17                      Product Marketing Manager H/F
18  Territory Manager (Outdoor Sales Consultant), ...
19                                  Software Engineer
20            Interim Assistant HR Operations Manager
21                        FACTORY MAINTENANCE MANAGER
22                                     Data Scientist
23    Materials Science Applications Scientist, Japan
24                      Mid Android Software Engineer
25                      Business Applications Analyst
26      Senior Software Engineer - Currency Templates
27                                     Data Scientist
28                                     Data Scientist
29                                   Business Analyst
30  IT-Business Analyst (m/w/d) für Vertriebssyste...
31                                   IT Event Manager
32  Global HR project management internship - Cult...
33                                     Data Scientist
34                            System Support Engineer
35                                    Project Manager
36                               iOS Senior Developer
37                 3rd Level Support Engineer (w/m/x)
38                           DevOps Wireless Engineer
39          Business Development Manager - Vlaanderen
40              Business Intelligence Analyst (m/f/d)
41                 SALES MANAGER (BUILDING MATERIALS)
42                                      Data Engineer
43        3DEXPERIENCE Platform Engineer - Internship
44                             Development Manager II
45                                   Business Analyst
46                                      Data Engineer
47                                     Data Scientist
48  Data Scientist Marktpricing & Strategie Kfz-Ve...
49                   Associate Consultant- Technology
50                                     Sales Engineer
51                 IKEA Business Key Account Manager*
52  IT Project Manager - Marketing Applications (m...
53                             PROJECT MANAGER Ssr/Sr
54  Middle Automation QA Engineer (with Java) for ...
55                  Accounting Executive/Data Analyst
56                                     Data Scientist
57                                     Sales Engineer
58                   Product Analyst (IntellectoKids)
59         Business Development Manager (BDM) - Italy

        gaTrackerData_location gaTrackerData_locationType  \
0                       Warsaw                       CITY
1                          NaN                       CITY
2                       Milano                       CITY
3                      Karachi                       CITY
4                    Bengaluru                       CITY
5                          NaN                       CITY
6                          NaN                       CITY
7            Villeneuve-d'Ascq                       CITY
8                      Jakarta                       CITY
9                    Islamabad                       CITY
10                         NaN                       CITY
11                Redwood City                       CITY
12                       Dubai                       CITY
13                    Brussels                       CITY
14                       Seoul                       CITY
15                       Paris                       CITY
16               Charing Cross                       CITY
17                      Nantes                       CITY
18                       Perai                       CITY
19                         NaN                       CITY
20                    Siavonga                       CITY
21                      Ilorin                       CITY
22                   Watertown                       CITY
23                         NaN                       CITY
24                         NaN                       CITY
25                   Singapore                       CITY
26                         NaN                       CITY
27                   Barcelona                       CITY
28                 Jersey City                       CITY
29                    Montréal                       CITY
30                         NaN                       CITY
31                         NaN                       CITY
32                         NaN                       CITY
33                         NaN                       CITY
34                       Dubai                       CITY
35                         NaN                       CITY
36                         NaN                       CITY
37                        Wien                       CITY
38                   Bucharest                       CITY
39  Ottignies-Louvain-la-Neuve                       CITY
40                      Berlin                       CITY
41                         NaN                       CITY
42                      Padova                       CITY
43                         NaN                       CITY
44                   Islamabad                       CITY
45                         NaN                       CITY
46                     Toronto                       CITY
47                        Pune                       CITY
48                         NaN                       CITY
49                       Lisle                       CITY
50                        Muar                       CITY
51                       Chiba                       CITY
52               Fuschl am See                       CITY
53                Buenos Aires                       CITY
54                         NaN                       CITY
55                         NaN                       CITY
56                    Pretoria                       CITY
57                         NaN                       CITY
58                         NaN                       CITY
59                         NaN                       CITY

            gaTrackerData_sector  header_easyApply  \
0                        Finance              True
1      Biotech & Pharmaceuticals             False
2                            NaN             False
3                            NaN             False
4              Business Services             False
5         Information Technology             False
6              Business Services             False
7         Information Technology             False
8             Accounting & Legal             False
9                            NaN             False
10                       Finance             False
11                 Manufacturing              True
12                           NaN             False
13             Business Services             False
14        Information Technology             False
15             Business Services             False
16             Business Services             False
17        Information Technology             False
18             Business Services              True
19                 Manufacturing             False
20                           NaN             False
21                           NaN             False
22                        Retail             False
23        Information Technology             False
24        Information Technology             False
25                       Finance             False
26        Information Technology             False
27        Information Technology             False
28                       Finance             False
29        Information Technology             False
30                 Manufacturing             False
31            Telecommunications             False
32                 Manufacturing             False
33                           NaN             False
34                           NaN             False
35             Business Services              True
36                           NaN              True
37                           NaN             False
38                 Manufacturing             False
39                           NaN              True
40                           NaN             False
41             Business Services             False
42                           NaN             False
43        Information Technology             False
44                 Manufacturing             False
45  Oil, Gas, Energy & Utilities             False
46             Business Services             False
47        Information Technology             False
48                           NaN             False
49        Information Technology              True
50                    Non-Profit             False
51                        Retail             False
52                 Manufacturing             False
53                           NaN             False
54        Information Technology              True
55                           NaN             False
56                           NaN             False
57        Information Technology             False
58                           NaN             False
59        Information Technology             False

                     header_employerName  \
0                            Modus Group
1                   Boehringer Ingelheim
2                         Immobiliare.it
3                                  Codup
4            MARKELYTICS SOLUTIONS INDIA
5                                    NCR
6                                  Nisha
7                                  Inria
8            Mitra Integrasi Informatika
9                        Adlab Solutions
10                                  HSBC
11                    Auris Health, Inc.
12                   Fasttrack Solutions
13                                Amaris
14                         Cisco Systems
15                             Accenture
16            Harnham Search & Selection
17                               iAdvize
18                      Rentokil Initial
19                                Beumer
20                                Yalelo
21                           Whyte Cleon
22                              Best Buy
23                           Schrödinger
24                   Samsung Electronics
25                        Partners Group
26                                   NCR
27                             DerbySoft
28                  Tradeweb Markets LLC
29                              TrackTik
30                              Hekatron
31                                 Nokia
32                                Danone
33                                   NaN
34  TWINMOS TECHNOLOGIES MIDDLE EAST FZE
35                                    HZ
36                               KM Ware
37                           epunkt GmbH
38                 Keysight Technologies
39                              QUALIFIO
40                       FinCompare GmbH
41                                MASHCO
42                 TALENT'S ANGELS S.r.l
43                     Dassault Systemes
44              British American Tobacco
45                        Gazprom Energy
46                         TAL Group Inc
47                        Nitor Infotech
48        VHV Allgemeine Versicherung AG
49  Applications Software Technology LLC
50                       Bright Prospect
51                                  IKEA
52                              Red Bull
53                               Practia
54                                Ciklum
55                         HitechBay Inc
56                    Tumaini Consulting
57                SailPoint Technologies
58                               Genesis
59                                   SDL

                                      header_jobTitle  \
0                  Biogas Project Development Manager
1   Quality Manager - Boehringer Ingelheim Healthc...
2      Senior Software Engineer (PHP, Elixir, Python)
3                                 Senior SQA Engineer
4                                    Research Manager
5                             PS Technical Consultant
6                                 B2B Product Manager
7   Post-Doctoral Research Visit F/M Microscopic d...
8   Technical Consultant for Microsoft Infrastruct...
9                              ETL/Database Developer
10  Digital Product Manager, Digital Customer Onbo...
11                                    Program Manager
12            Key Account Manager - Private Hospitals
13                                   Big Data Analyst
14                            Partner Success Manager
15  Business Analyst IFRS 17 Implementation Paris F/H
16                               Data Scientist media
17                      Product Marketing Manager H/F
18  Territory Manager (Outdoor Sales Consultant), ...
19                                  Software Engineer
20            Interim Assistant HR Operations Manager
21                        FACTORY MAINTENANCE MANAGER
22                                     Data Scientist
23    Materials Science Applications Scientist, Japan
24                      Mid Android Software Engineer
25                      Business Applications Analyst
26      Senior Software Engineer - Currency Templates
27                                     Data Scientist
28                                     Data Scientist
29                                   Business Analyst
30  IT-Business Analyst (m/w/d) für Vertriebssyste...
31                                   IT Event Manager
32  Global HR project management internship - Cult...
33                                     Data Scientist
34                            System Support Engineer
35                                    Project Manager
36                               iOS Senior Developer
37                 3rd Level Support Engineer (w/m/x)
38                           DevOps Wireless Engineer
39          Business Development Manager - Vlaanderen
40              Business Intelligence Analyst (m/f/d)
41                 SALES MANAGER (BUILDING MATERIALS)
42                                      Data Engineer
43        3DEXPERIENCE Platform Engineer - Internship
44                             Development Manager II
45                                   Business Analyst
46                                      Data Engineer
47                                     Data Scientist
48  Data Scientist Marktpricing & Strategie Kfz-Ve...
49                   Associate Consultant- Technology
50                                     Sales Engineer
51                 IKEA Business Key Account Manager*
52  IT Project Manager - Marketing Applications (m...
53                             PROJECT MANAGER Ssr/Sr
54  Middle Automation QA Engineer (with Java) for ...
55                  Accounting Executive/Data Analyst
56                                     Data Scientist
57                                     Sales Engineer
58                   Product Analyst (IntellectoKids)
59         Business Development Manager (BDM) - Italy

               header_location header_posted  header_rating  \
0                       Warsaw  Oct 24, 2019            NaN
1                        Porto   Nov 4, 2019            3.8
2                        Milan  Oct 28, 2019            2.4
3                      Karāchi   Nov 4, 2019            1.5
4                    Bengaluru   Nov 1, 2019            3.5
5                     Colombia  Oct 18, 2019            3.3
6                      Central   Nov 1, 2019            3.5
7            Villeneuve-d'Ascq   Nov 4, 2019            4.0
8                      Jakarta   Nov 5, 2019            3.5
9                    Islamabad  Oct 24, 2019            0.0
10                   Hong Kong  Oct 16, 2019            3.8
11            Redwood City, CA  Oct 14, 2019            3.9
12                       Dubai  Oct 29, 2019            4.6
13                    Brussels  Oct 29, 2019            3.0
14                       Seoul   Nov 3, 2019            4.2
15                       Paris  Oct 31, 2019            3.7

     id  index                                wwfu_val_videos_val
0  4327      0  <iframe width="560" height="315" src="https://...
1  4328      0  <iframe width="560" height="315" src="https://...
2  4329      0  <iframe width="560" height="315" src="https://...
3  4330      0  <iframe width="560" height="315" src="https://...
4  4331      0  <iframe width="560" height="315" src="https://...
5  4332      0  <iframe width="560" height="315" src="https://...
6  4333      0  <iframe width="560" height="315" src="https://...
7  4334      0  <iframe width="560" height="315" src="https://...
8  4335      0  <iframe width="560" height="315" src="https://...
9  4336      0  <iframe width="560" height="315" src="https://...
                 id         index
count  17687.000000  17687.000000
mean    8815.499463      0.003732
std     5087.296180      0.060974
min        1.000000      0.000000
25%     4413.500000      0.000000
50%     8815.000000      0.000000
75%    13223.500000      0.000000
max    17621.000000      1.000000
id                      int64
index                   int64
wwfu_val_videos_val    object
dtype: object






%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [112]:
# df_w["wwfu_val_body"][86114]
# df_rvr["reviews_val_reviewResponses_val_responseText"][54]

'hello we are glad to know that you enjoy your experience at deezer and we take into account your opinion on the points you are addressing we care about providing the best experience for our employees so we sincerely thank you for the transparency of your feedback keep serving good vibes'