In [58]:
import pandas as pd
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, Date, ForeignKey
import re

pd.set_option("display.max_columns", None)

df = pd.read_csv("glassdoor_dataset/glassdoor.csv")


# Filtering the main glassdoor.csv file, a lot of columns are HTML related elements that are not very relevant for an analytical purpose.

filtered_df = df.loc[
    :,
    [
        "gaTrackerData.jobTitle",
        "gaTrackerData.location",
        "gaTrackerData.locationType",
        "gaTrackerData.sector",
        "header.easyApply",
        "header.employerName",
        "header.jobTitle",
        "header.location",  # Location City (most of times)
        "header.posted",  # Date job was posted
        "header.rating",  # Company rating by employees
        "header.urgencyLabel",  # Misleading column name, it actually indicates the presence of the "2019 Glassdoor Best Place to Work" award on the job posting
        "header.payHigh",
        "header.payMed",
        "header.payLow",
        "job.description",
        "job.jobSource",
        "map.country",  # do something with country_names_2_digit_codes
        "map.employerName",
        "map.lat",  # 0 for NaN
        "map.lng",  # 0 for NaN
        "map.location",
        "overview.foundedYear",  # 0 for NaN
        "overview.hq",
        "overview.industry",
        "overview.revenue",
        "overview.sector",
        "overview.size",
        "overview.stock",
        "overview.type",
        "overview.description",
        "overview.mission",
        "overview.competitors",  # foreign key
        "rating.ceo.name",
        "rating.ceoApproval",  # <0 or NaN for missing data
        "rating.recommendToFriend",  # <0 or NaN for missing data
        "rating.starRating",
        "benefits.comments",  # foreign key
        "benefits.highlights",  # foreign key
        "reviews",  # foreign key
        "salary.salaries",  # foreign key
        "wwfu",  # foreign key
    ],
]


# Replace negative values with NaN
columns_to_replace_neg = [
    "header.rating",
    "rating.starRating",
    "rating.ceoApproval",
    "rating.recommendToFriend",
]
for column in columns_to_replace_neg:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 0 else x)


# Replace zero values with NaN
columns_to_replace_zero = [
    "map.lat",
    "map.lng",
]
for column in columns_to_replace_zero:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x == 0 else x)


# Replace outlier/erroneous low salaries values with NaN
columns_to_replace_outlier_salaries = [
    "header.payHigh",
    "header.payMed",
    "header.payLow",
    "salary.salaries",
]
for column in columns_to_replace_outlier_salaries:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 10000 else x)
    

# Replace outlier/erroneous low salaries values with NaN
columns_to_replace_outlier_salaries = [
    "header.payHigh",
    "header.payMed",
    "header.payLow",
    "salary.salaries",
]
for column in columns_to_replace_outlier_salaries:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 10000 else x)
    
# Replace outlier/erroneous years values with NaN
columns_to_replace_outlier_years = [
    "overview.foundedYear",
]
for column in columns_to_replace_outlier_years:
    filtered_df[column] = filtered_df[column].apply(lambda x: np.nan if x < 1000 else x)


# Remove only rows with all missing values
filtered_df.dropna(how='all', inplace=True)

# Remove duplicates
filtered_df.drop_duplicates(inplace=True)


def clean_job_description(text):
    
    if text is None or pd.isna(text):
        return text
    
    # Remove HTML tags
    text = re.sub('<[^>]+>', '', text)
    
    # Remove HTML entities
    text = re.sub('&\w+;|&#\d+;', '', text)
    
    # Convert text to lowercase
    text = text.lower()
    
    # Remove unwanted characters
    text = re.sub('[^\w\s]+', ' ', text)
    
    # Remove extra spaces
    text = re.sub('\s+', ' ', text)
    
    # Strip leading/trailing spaces
    text = text.strip()

    return text



filtered_df['job.description'] = filtered_df['job.description'].apply(clean_job_description)



print(f"dtypes : \n{filtered_df.dtypes}\n\n")
print(f"Non-NaN percentage : \n{(filtered_df.count()/ len(filtered_df) * 100).round(2)}%")
print("\n\n\n%%%%%%%%%%%%%%%%%%%%%%%%\n\n\n")
print(filtered_df.head(60))
print(filtered_df.columns)
print(f"There are {len(filtered_df.columns)} columns")
print(filtered_df.describe())

# print(filtered_df['job.description'][22])
# print(filtered_df['job.description'][23])

dtypes :
gaTrackerData.jobTitle         object
gaTrackerData.location         object
gaTrackerData.locationType     object
gaTrackerData.sector           object
header.easyApply                 bool
header.employerName            object
header.jobTitle                object
header.location                object
header.posted                  object
header.rating                 float64
header.urgencyLabel            object
header.payHigh                float64
header.payMed                 float64
header.payLow                 float64
job.description                object
job.jobSource                  object
map.country                    object
map.employerName               object
map.lat                       float64
map.lng                       float64
map.location                   object
overview.foundedYear          float64
overview.hq                    object
overview.industry              object
overview.revenue               object
overview.sector                object
overview.size                  object
overview.stock                 object
overview.type                  object
overview.description           object
overview.mission               object
overview.competitors          float64
rating.ceo.name                object
rating.ceoApproval            float64
rating.recommendToFriend      float64
rating.starRating             float64
benefits.comments             float64
benefits.highlights           float64
reviews                         int64
salary.salaries               float64
wwfu                          float64
dtype: object


Non-NaN percentage :
gaTrackerData.jobTitle        100.00
gaTrackerData.location         57.48
gaTrackerData.locationType    100.00
gaTrackerData.sector           71.34
header.easyApply              100.00
header.employerName            98.04
header.jobTitle               100.00
header.location               100.00
header.posted                 100.00
header.rating                  90.70
header.urgencyLabel             2.74
header.payHigh                  2.20
header.payMed                   2.20
header.payLow                   2.20
job.description               100.00
job.jobSource                 100.00
map.country                    69.73
map.employerName               89.02
map.lat                        88.69
map.lng                        88.69
map.location                  100.00
overview.foundedYear           64.67
overview.hq                    88.28
overview.industry              71.32
overview.revenue               88.98
overview.sector                71.34
overview.size                  88.98
overview.stock                 28.05
overview.type                  88.98
overview.description           52.61
overview.mission               31.55
overview.competitors           29.03
rating.ceo.name                67.96
rating.ceoApproval             64.62
rating.recommendToFriend       79.69
rating.starRating              79.69
benefits.comments             100.00
benefits.highlights           100.00
reviews                       100.00
salary.salaries                82.98
wwfu                           11.34
dtype: float64%



%%%%%%%%%%%%%%%%%%%%%%%%



                               gaTrackerData.jobTitle  \
0                  Biogas Project Development Manager
1   Quality Manager - Boehringer Ingelheim Healthc...
2      Senior Software Engineer (PHP, Elixir, Python)
3                                 Senior SQA Engineer
4                                    Research Manager
5                             PS Technical Consultant
6                                 B2B Product Manager
7   Post-Doctoral Research Visit F/M Microscopic d...
8   Technical Consultant for Microsoft Infrastruct...
9                              ETL/Database Developer
10  Digital Product Manager, Digital Customer Onbo...
11                                    Program Manager
12            Key Account Manager - Private Hospitals
13                                   Big Data Analyst
14                            Partner Success Manager
15  Business Analyst IFRS 17 Implementation Paris F/H
16                               Data Scientist media
17                      Product Marketing Manager H/F
18  Territory Manager (Outdoor Sales Consultant), ...
19                                  Software Engineer
20            Interim Assistant HR Operations Manager
21                        FACTORY MAINTENANCE MANAGER
22                                     Data Scientist
23    Materials Science Applications Scientist, Japan
24                      Mid Android Software Engineer
25                      Business Applications Analyst
26      Senior Software Engineer - Currency Templates
27                                     Data Scientist
28                                     Data Scientist
29                                   Business Analyst
30  IT-Business Analyst (m/w/d) für Vertriebssyste...
31                                   IT Event Manager
32  Global HR project management internship - Cult...
33                                     Data Scientist
34                            System Support Engineer
35                                    Project Manager
36                               iOS Senior Developer
37                 3rd Level Support Engineer (w/m/x)
38                           DevOps Wireless Engineer
39          Business Development Manager - Vlaanderen
40              Business Intelligence Analyst (m/f/d)
41                 SALES MANAGER (BUILDING MATERIALS)
42                                      Data Engineer
43        3DEXPERIENCE Platform Engineer - Internship
44                             Development Manager II
45                                   Business Analyst
46                                      Data Engineer
47                                     Data Scientist
48  Data Scientist Marktpricing & Strategie Kfz-Ve...
49                   Associate Consultant- Technology
50                                     Sales Engineer
51                 IKEA Business Key Account Manager*
52  IT Project Manager - Marketing Applications (m...
53                             PROJECT MANAGER Ssr/Sr
54  Middle Automation QA Engineer (with Java) for ...
55                  Accounting Executive/Data Analyst
56                                     Data Scientist
57                                     Sales Engineer
58                   Product Analyst (IntellectoKids)
59         Business Development Manager (BDM) - Italy

        gaTrackerData.location gaTrackerData.locationType  \
0                       Warsaw                       CITY
1                          NaN                       CITY
2                       Milano                       CITY
3                      Karachi                       CITY
4                    Bengaluru                       CITY
5                          NaN                       CITY
6                          NaN                       CITY
7            Villeneuve-d'Ascq                       CITY
8                      Jakarta                       CITY
9                    Islamabad                       CITY
10                         NaN                       CITY
11                Redwood City                       CITY
12                       Dubai                       CITY
13                    Brussels                       CITY
14                       Seoul                       CITY
15                       Paris                       CITY
16               Charing Cross                       CITY
17                      Nantes                       CITY
18                       Perai                       CITY
19                         NaN                       CITY
20                    Siavonga                       CITY
21                      Ilorin                       CITY
22                   Watertown                       CITY
23                         NaN                       CITY
24                         NaN                       CITY
25                   Singapore                       CITY
26                         NaN                       CITY
27                   Barcelona                       CITY
28                 Jersey City                       CITY
29                    Montréal                       CITY
30                         NaN                       CITY
31                         NaN                       CITY
32                         NaN                       CITY
33                         NaN                       CITY
34                       Dubai                       CITY
35                         NaN                       CITY
36                         NaN                       CITY
37                        Wien                       CITY
38                   Bucharest                       CITY
39  Ottignies-Louvain-la-Neuve                       CITY
40                      Berlin                       CITY
41                         NaN                       CITY
42                      Padova                       CITY
43                         NaN                       CITY
44                   Islamabad                       CITY
45                         NaN                       CITY
46                     Toronto                       CITY
47                        Pune                       CITY
48                         NaN                       CITY
49                       Lisle                       CITY
50                        Muar                       CITY
51                       Chiba                       CITY
52               Fuschl am See                       CITY
53                Buenos Aires                       CITY
54                         NaN                       CITY
55                         NaN                       CITY
56                    Pretoria                       CITY
57                         NaN                       CITY
58                         NaN                       CITY
59                         NaN                       CITY

            gaTrackerData.sector  header.easyApply  \
0                        Finance              True
1      Biotech & Pharmaceuticals             False
2                            NaN             False
3                            NaN             False
4              Business Services             False
5         Information Technology             False
6              Business Services             False
7         Information Technology             False
8             Accounting & Legal             False
9                            NaN             False
10                       Finance             False
11                 Manufacturing              True
12                           NaN             False
13             Business Services             False
14        Information Technology             False
15             Business Services             False
16             Business Services             False
17        Information Technology             False
18             Business Services              True
19                 Manufacturing             False
20                           NaN             False
21                           NaN             False
22                        Retail             False
23        Information Technology             False
24        Information Technology             False
25                       Finance             False
26        Information Technology             False
27        Information Technology             False
28                       Finance             False
29        Information Technology             False
30                 Manufacturing             False
31            Telecommunications             False
32                 Manufacturing             False
33                           NaN             False
34                           NaN             False
35             Business Services              True
36                           NaN              True
37                           NaN             False
38                 Manufacturing             False
39                           NaN              True
40                           NaN             False
41             Business Services             False
42                           NaN             False
43        Information Technology             False
44                 Manufacturing             False
45  Oil, Gas, Energy & Utilities             False
46             Business Services             False
47        Information Technology             False
48                           NaN             False
49        Information Technology              True
50                    Non-Profit             False
51                        Retail             False
52                 Manufacturing             False
53                           NaN             False
54        Information Technology              True
55                           NaN             False
56                           NaN             False
57        Information Technology             False
58                           NaN             False
59        Information Technology             False

                     header.employerName  \
0                            Modus Group
1                   Boehringer Ingelheim
2                         Immobiliare.it
3                                  Codup
4            MARKELYTICS SOLUTIONS INDIA
5                                    NCR
6                                  Nisha
7                                  Inria
8            Mitra Integrasi Informatika
9                        Adlab Solutions
10                                  HSBC
11                    Auris Health, Inc.
12                   Fasttrack Solutions
13                                Amaris
14                         Cisco Systems
15                             Accenture
16            Harnham Search & Selection
17                               iAdvize
18                      Rentokil Initial
19                                Beumer
20                                Yalelo
21                           Whyte Cleon
22                              Best Buy
23                           Schrödinger
24                   Samsung Electronics
25                        Partners Group
26                                   NCR
27                             DerbySoft
28                  Tradeweb Markets LLC
29                              TrackTik
30                              Hekatron
31                                 Nokia
32                                Danone
33                                   NaN
34  TWINMOS TECHNOLOGIES MIDDLE EAST FZE
35                                    HZ
36                               KM Ware
37                           epunkt GmbH
38                 Keysight Technologies
39                              QUALIFIO
40                       FinCompare GmbH
41                                MASHCO
42                 TALENT'S ANGELS S.r.l
43                     Dassault Systemes
44              British American Tobacco
45                        Gazprom Energy
46                         TAL Group Inc
47                        Nitor Infotech
48        VHV Allgemeine Versicherung AG
49  Applications Software Technology LLC
50                       Bright Prospect
51                                  IKEA
52                              Red Bull
53                               Practia
54                                Ciklum
55                         HitechBay Inc
56                    Tumaini Consulting
57                SailPoint Technologies
58                               Genesis
59                                   SDL

                                      header.jobTitle  \
0                  Biogas Project Development Manager
1   Quality Manager - Boehringer Ingelheim Healthc...
2      Senior Software Engineer (PHP, Elixir, Python)
3                                 Senior SQA Engineer
4                                    Research Manager
5                             PS Technical Consultant
6                                 B2B Product Manager
7   Post-Doctoral Research Visit F/M Microscopic d...
8   Technical Consultant for Microsoft Infrastruct...
9                              ETL/Database Developer
10  Digital Product Manager, Digital Customer Onbo...
11                                    Program Manager
12            Key Account Manager - Private Hospitals
13                                   Big Data Analyst
14                            Partner Success Manager
15  Business Analyst IFRS 17 Implementation Paris F/H
16                               Data Scientist media
17                      Product Marketing Manager H/F
18  Territory Manager (Outdoor Sales Consultant), ...
19                                  Software Engineer
20            Interim Assistant HR Operations Manager
21                        FACTORY MAINTENANCE MANAGER
22                                     Data Scientist
23    Materials Science Applications Scientist, Japan
24                      Mid Android Software Engineer
25                      Business Applications Analyst
26      Senior Software Engineer - Currency Templates
27                                     Data Scientist
28                                     Data Scientist
29                                   Business Analyst
30  IT-Business Analyst (m/w/d) für Vertriebssyste...
31                                   IT Event Manager
32  Global HR project management internship - Cult...
33                                     Data Scientist
34                            System Support Engineer
35                                    Project Manager
36                               iOS Senior Developer
37                 3rd Level Support Engineer (w/m/x)
38                           DevOps Wireless Engineer
39          Business Development Manager - Vlaanderen
40              Business Intelligence Analyst (m/f/d)
41                 SALES MANAGER (BUILDING MATERIALS)
42                                      Data Engineer
43        3DEXPERIENCE Platform Engineer - Internship
44                             Development Manager II
45                                   Business Analyst
46                                      Data Engineer
47                                     Data Scientist
48  Data Scientist Marktpricing & Strategie Kfz-Ve...
49                   Associate Consultant- Technology
50                                     Sales Engineer
51                 IKEA Business Key Account Manager*
52  IT Project Manager - Marketing Applications (m...
53                             PROJECT MANAGER Ssr/Sr
54  Middle Automation QA Engineer (with Java) for ...
55                  Accounting Executive/Data Analyst
56                                     Data Scientist
57                                     Sales Engineer
58                   Product Analyst (IntellectoKids)
59         Business Development Manager (BDM) - Italy

               header.location header.posted  header.rating  \
0                       Warsaw  Oct 24, 2019            NaN
1                        Porto   Nov 4, 2019            3.8
2                        Milan  Oct 28, 2019            2.4
3                      Karāchi   Nov 4, 2019            1.5
4                    Bengaluru   Nov 1, 2019            3.5
5                     Colombia  Oct 18, 2019            3.3
6                      Central   Nov 1, 2019            3.5
7            Villeneuve-d'Ascq   Nov 4, 2019            4.0
8                      Jakarta   Nov 5, 2019            3.5
9                    Islamabad  Oct 24, 2019            0.0
10                   Hong Kong  Oct 16, 2019            3.8
11            Redwood City, CA  Oct 14, 2019            3.9
12                       Dubai  Oct 29, 2019            4.6
13                    Brussels  Oct 29, 2019            3.0
14                       Seoul   Nov 3, 2019            4.2
15                       Paris  Oct 31, 2019            3.7

In [62]:
print(filtered_df['job.description'][500])

free now encourages a strong team spirit and simple company culture our teams organise themselves in established agile working environments people at free now work flexibly and independently every single employee is a part of our success story and so open communication and a fair feedback culture come naturally to us we are passionate problem solvers who listen and understand before we act by working together with each other customers drivers and cities we make things better besides a lot of fun and potential to make a real difference you will have the opportunity to work with the best team in the world we know everybody says so but at free now it s true as of now we re looking for a motivated and experienced senior frontend engineer you will be part of a newly founded team of motivated developers in our development hub in barcelona in close collaboration with the development teams in our headquarters in hamburg you will work on our main products these will be your responsibilities and challenges maintenance and expansion of our online platforms development of cross platform websites for our apps development of management systems for the administration of marketing campaigns preferably using technologies as js es6 babel webpack redux functional js html and scss continuous development of features main requirements degree in computer science or a similar background very good knowledge in react js es6 babel webpack redux functional js html and css familiarity in working with backend systems self initiative commitment and teamwork passion for good software willingness to travel fluent proficiency in english experience in an international company or team away from your home country is a plus what can we offer you intensive fridays gym membership quarterly team building activities karting bowling laser tag escape rooms barbecues calotades yearly off site hacking weeks hacking days and occasional trips to our hq in hamburg weekly free buffet breakfasts in the office health insurance with basic dental coverage 25 days annual leave plus your birthday off a monthly mobility allowance for free taxi rides the opportunity to use the latest technologies and implement your own ideas flexible learning and development opportunities through internal and external workshops events and conferences free language lessons and all the usual start up goodies like free fruit unlimited drinks after work beers and many more oh and the opportunity to work with the best team in the world we know everybody says so but at free now it s true about free now free now was founded as mytaxi in june 2009 and was the world s first taxi app that established a direct connection between a passenger and a taxi driver in july 2019 mytaxi rebranded to free now as part of a global mobility brand family and set itself up as a multiservice mobility provider with 14 million passengers and more than 100 000 drivers free now is one of the leading ride hailing providers in europe since february 2019 the service is part of the free now group the ride hailing joint venture of bmw and daimler free now today works with more than 700 employees in 26 offices and is available in over 100 european cities eckart diepenhorst is leading the operational business as ceo europe of free now more information is available at www free now com http www free now com