In [7]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

df = pd.read_csv("glassdoor_dataset/glassdoor.csv")




# Filtering the main glassdoor.csv file, a lot of columns are HTML related elements that are not very relevant for an analytical purpose.

filtered_df = df.loc[:,
                [
                    "gaTrackerData.jobTitle",
                    "gaTrackerData.location",
                    "gaTrackerData.locationType",
                    "gaTrackerData.sector",
                    "header.easyApply",
                    "header.employerName",
                    "header.jobTitle",
                    "header.location", # Location City (most of times)
                    "header.posted", # Date job was posted
                    "header.rating", # Company rating by employees
                    "header.urgencyLabel", # Misleading column name, it actually indicates the presence of the "2019 Glassdoor Best Place to Work" award on the job posting
                    "header.payHigh",
                    "header.payMed",
                    "header.payLow",
                    "header.salarySource",
                    "job.description",
                    "job.jobSource",
                    "map.country", # do something with country_names_2_digit_codes
                    "map.employerName",
                    "map.lat",
                    "map.lng",
                    "map.location",
                    "map.address",
                    "map.postalCode",
                    "overview.foundedYear",
                    "overview.hq",
                    "overview.industry",
                    "overview.revenue",
                    "overview.sector",
                    "overview.size",
                    "overview.stock",
                    "overview.type",
                    "overview.description",
                    "overview.mission",
                    "overview.website",
                    "overview.competitors", # foreign key
                    "rating.ceo.name",
                    "rating.ceoApproval",
                    "rating.recommendToFriend",
                    "rating.starRating",
                    "salary.country.name",
                    "benefits.comments", # foreign key
                    "benefits.highlights", # foreign key
                    "reviews", # foreign key
                    "salary.salaries", # foreign key
                    "wwfu", # foreign key
    ],
]

print(filtered_df.head(80))
print(filtered_df.columns)
print(f"There are {len(filtered_df.columns)} columns")
print(filtered_df.describe())
print(f"There are {filtered_df.describe().shape[1]} columns")

                               gaTrackerData.jobTitle gaTrackerData.location  \
0                  Biogas Project Development Manager                 Warsaw
1   Quality Manager - Boehringer Ingelheim Healthc...                    NaN
2      Senior Software Engineer (PHP, Elixir, Python)                 Milano
3                                 Senior SQA Engineer                Karachi
4                                    Research Manager              Bengaluru
..                                                ...                    ...
75               Senior Android Engineer - Innovation               Auckland
76                              Project Administrator              Cape Town
77                                 Software Developer                    Pau
78  Business Development Manager, Mobile Telecomms...                  Lagos
79  Research Staff Member / Post-doctoral research...                 Zürich

   gaTrackerData.locationType       gaTrackerData.sector  header.easyApply  \
0                        CITY                    Finance              True
1                        CITY  Biotech & Pharmaceuticals             False
2                        CITY                        NaN             False
3                        CITY                        NaN             False
4                        CITY          Business Services             False
..                        ...                        ...               ...
75                       CITY                        NaN              True
76                       CITY                        NaN             False
77                       CITY     Information Technology             False
78                       CITY                        NaN             False
79                       CITY                        NaN             False

               header.employerName  \
0                      Modus Group
1             Boehringer Ingelheim
2                   Immobiliare.it
3                            Codup
4      MARKELYTICS SOLUTIONS INDIA
..                             ...
75                         Coretex
76             Rosstone Consulting
77                        INT Inc.
78        Professionals4Africa Ltd
79  IBM Zurich Research Laboratory

                                      header.jobTitle  \
0                  Biogas Project Development Manager
1   Quality Manager - Boehringer Ingelheim Healthc...
2      Senior Software Engineer (PHP, Elixir, Python)
3                                 Senior SQA Engineer
4                                    Research Manager
..                                                ...
75               Senior Android Engineer - Innovation
76                              Project Administrator
77                                 Software Developer
78  Business Development Manager, Mobile Telecomms...
79  Research Staff Member / Post-doctoral research...

   header.normalizedJobTitle header.location header.posted  header.rating  \
0                        NaN          Warsaw  Oct 24, 2019          -0.10
1                        NaN           Porto   Nov 4, 2019           3.80
2                        NaN           Milan  Oct 28, 2019           2.40
3                        NaN         Karāchi   Nov 4, 2019           1.50
4                        NaN       Bengaluru   Nov 1, 2019           3.50
..                       ...             ...           ...            ...
75                       NaN        Auckland  Oct 18, 2019           3.00
76                       NaN       Cape Town   Nov 5, 2019          -0.10
77                       NaN         Pau, FR  Nov 10, 2019           4.21
78                       NaN           Lagos   Nov 1, 2019           0.00
79                       NaN          Zürich  Oct 23, 2019           0.00

   header.urgencyLabel header.urgencyMessage  header.payHigh  header.payMed  \
0                  NaN                   NaN             NaN            NaN
1                  NaN                   NaN             NaN            NaN
2                  NaN                   NaN             NaN            NaN
3                  NaN                   NaN             NaN            NaN
4                  NaN                   NaN             NaN            NaN
..                 ...                   ...             ...            ...
75                 NaN                   NaN             NaN            NaN
76                 NaN                   NaN             NaN            NaN
77                 NaN                   NaN             NaN            NaN
78                 NaN                   NaN             NaN            NaN
79                 NaN                   NaN             NaN            NaN

    header.payLow header.salarySource  \
0             NaN                 NaN
1             NaN                 NaN
2             NaN                 NaN
3             NaN                 NaN
4             NaN                 NaN
..            ...                 ...
75            NaN                 NaN
76            NaN                 NaN
77            NaN                 NaN
78            NaN                 NaN
79            NaN                 NaN

                                      job.description  \
0   We are the drivers of the future who offer a g...
1   <strong></strong>\n<br/><br/>\n<strong></stron...
2   Dottori.it &egrave; il motore di ricerca che t...
3   Codup is looking for a Senior SQA Engineer for...
4   <strong>Department:</strong> Research &amp; Op...
..                                                ...
75  <strong>You're bold. You're bright. You're the...
76  To support the key deliverables of the Project...
77  INT Inc. is the leading Data Visualization sof...
78  <strong>JOB Responsibilities:</strong>\n<br/>\...
79  Careers @\n<br/>\nIBM Research &ndash; Zurich\...

                job.jobSource  map.country       map.employerName  map.lat  \
0              WorkableHR.com       Poland            Modus Group  52.2500
1                       taleo          NaN   Boehringer Ingelheim  41.1500
2    Indeed XML Feed Employer        Italy        Immobiliare.it   45.4667
3      Indeed XML Feed Dradis           PK                  Codup  24.8667
4    Indeed XML Feed Employer           IN  Markelytics Solutions  12.9670
..                        ...          ...                    ...      ...
75                   BambooHR  New Zealand                Coretex -36.8667
76  Indeed XML Feed Job Board           ZA    Rosstone Consulting -33.9167
77   Indeed XML Feed Employer           FR                    INT  43.3000
78  Indeed XML Feed Job Board           NG                    NaN   6.4531
79  Indeed XML Feed Job Board  Switzerland                    NaN  47.3667

     map.lng map.location map.address map.postalCode  overview.foundedYear  \
0    21.0000       Warsaw         NaN            NaN                  1993
1    -8.6167        Porto         NaN            NaN                  1885
2     9.2000        Milan         NaN            NaN                     0
3    67.0500      Karāchi         NaN            NaN                     0
4    77.5873    Bengaluru         NaN            NaN                  2003
..       ...          ...         ...            ...                   ...
75  174.7667     Auckland         NaN            NaN                  2002
76   18.4167    Cape Town         NaN            NaN                     0
77   -0.3667      Pau, FR         NaN            NaN                  1999
78    3.3958        Lagos         NaN            NaN                     0
79    8.5500       Zürich         NaN            NaN                     0

                    overview.hq                      overview.industry  \
0            Vilnius, Lithuania  Investment Banking & Asset Management
1   Ingelheim am Rhein, Germany              Biotech & Pharmaceuticals
2                 MILANO, Italy                                    NaN
3             Karachi, Pakistan                                    NaN
4              Bangalore, India                             Consulting
..                          ...                                    ...
75        Auckland, New Zealand                                    NaN
76       Pretoria, South Africa                                    NaN
77            Buffalo Grove, IL                            IT Services
78                          NaN                                    NaN
79                          NaN                                    NaN

            overview.revenue            overview.sector  \
0   Unknown / Non-Applicable                    Finance
1    £5 to £10 billion (GBP)  Biotech & Pharmaceuticals
2   £25 to £50 million (GBP)                        NaN
3   Unknown / Non-Applicable                        NaN
4   Unknown / Non-Applicable          Business Services
..                       ...                        ...
75    £1 to £5 million (GBP)                        NaN
76  Unknown / Non-Applicable                        NaN
77    £1 to £5 million (GBP)     Information Technology
78                       NaN                        NaN
79                       NaN                        NaN

            overview.size overview.stock      overview.type  \
0   501 to 1000 employees            NaN  Company - Private
1        10000+ employees            NaN  Company - Private
2    201 to 500 employees            NaN  Company - Private
3       1 to 50 employees            NaN  Company - Private
4    201 to 500 employees            NaN  Company - Private
..                    ...            ...                ...
75    51 to 200 employees            NaN  Company - Private
76                Unknown            NaN  Company - Private
77      1 to 50 employees            NaN  Company - Private
78                    NaN            NaN                NaN
79                    NaN            NaN                NaN

                                 overview.description  \
0   We are the drivers of the future who offer a g...
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
75                                                NaN
76                                                NaN
77  INT provides a wide array of business services...
78                                                NaN
79                                                NaN

                                     overview.mission  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
75                                                NaN
76                                                NaN
77  INT is the indispensable partner for small bus...
78                                                NaN
79                                                NaN

                overview.website  overview.competitors  \
0                www.modus.group                   NaN
1   www.boehringer-ingelheim.com                   NaN
2                            NaN                   NaN
3                            NaN                   NaN
4                            NaN                   NaN
..                           ...                   ...
75                           NaN                   NaN
76                           NaN                   NaN
77                www.intinc.com                   NaN
78                           NaN                   NaN
79                           NaN                   NaN

           rating.ceo.name  rating.ceoApproval  rating.recommendToFriend  \
0      Liudas Liutkevičius               -0.10                     -0.10
1   Hubertus von Baumbach                 0.80                      0.76
2                      NaN               -1.00                      0.47
3                      NaN               -1.00                      0.00
4                      NaN               -1.00                      0.67
..                     ...                 ...                       ...
75          Selwyn Pellett                0.45                      0.54
76                     NaN               -0.10                     -0.10
77            Diane Weigle                1.00                      1.00
78                     NaN                 NaN                       NaN
79                     NaN                 NaN                       NaN

    rating.starRating salary.country.name  benefits.comments  \
0               -0.10                 NaN             2801.0
1                3.80      United Kingdom             2802.0
2                2.40                 NaN             2803.0
3                1.50                 NaN             2804.0
4                3.50                 NaN             2805.0
..                ...                 ...                ...
75               3.00                 NaN             2876.0
76              -0.10                 NaN             2877.0
77               4.21                 NaN             2878.0
78                NaN                 NaN             2879.0
79                NaN                 NaN             2880.0

    benefits.highlights  reviews  salary.salaries  wwfu
0                2801.0     2801           2483.0   NaN
1                2802.0     2802           2484.0   NaN
2                2803.0     2803           2485.0   NaN
3                2804.0     2804           2486.0   NaN
4                2805.0     2805           2487.0   NaN
..                  ...      ...              ...   ...
75               2876.0     2876           2549.0   NaN
76               2877.0     2877           2550.0   NaN
77               2878.0     2878           2551.0   NaN
78               2879.0     2879              NaN   NaN
79               2880.0     2880              NaN   NaN

[80 rows x 48 columns]
Index(['gaTrackerData.jobTitle', 'gaTrackerData.location',
       'gaTrackerData.locationType', 'gaTrackerData.sector',
       'header.easyApply', 'header.employerName', 'header.jobTitle',
       'header.normalizedJobTitle', 'header.location', 'header.posted',
       'header.rating', 'header.urgencyLabel', 'header.urgencyMessage',
       'header.payHigh', 'header.payMed', 'header.payLow',
       'header.salarySource', 'job.description', 'job.jobSource',
       'map.country', 'map.employerName', 'map.lat', 'map.lng', 'map.location',
       'map.address', 'map.postalCode', 'overview.foundedYear', 'overview.hq',
       'overview.industry', 'overview.revenue', 'overview.sector',
       'overview.size', 'overview.stock', 'overview.type',
       'overview.description', 'overview.mission', 'overview.website',
       'overview.competitors', 'rating.ceo.name', 'rating.ceoApproval',
       'rating.recommendToFriend', 'rating.starRating', 'salary.country.name',
       'benefits.comments', 'benefits.highlights', 'reviews',
       'salary.salaries', 'wwfu'],
      dtype='object')
There are 48 columns
       header.rating  header.payHigh  header.payMed  header.payLow  \
count  165290.000000     3662.000000    3642.000000    3662.000000
mean        2.956646   115832.403605   95296.689182   77825.276898
std         1.612910    42077.284501   34862.443369   30736.395180
min        -0.100000       13.000000      95.000000      10.000000
25%         2.800000    85217.500000   69653.750000   55283.500000
50%         3.600000   109630.500000   88507.500000   72435.000000
75%         4.000000   140000.000000  115701.750000   95966.000000
max         5.000000   376948.000000  292515.000000  236650.000000

             map.lat        map.lng  overview.foundedYear  \
count  165290.000000  165290.000000         165290.000000
mean       26.499080      29.642232           1273.873422
std        26.013832      62.586654            942.425948
min       -77.850000    -171.983300              0.000000
25%         2.922800       0.000000              0.000000
50%        33.823400      12.133300           1947.000000
75%        48.866700      77.587300           1998.000000
max        67.183300     177.366700           2019.000000

       overview.competitors  rating.ceoApproval  rating.recommendToFriend  \
count          47988.000000       146899.000000             146899.000000
mean           23994.500000            0.413151                  0.625625
std            13853.086696            0.712426                  0.316064
min                1.000000           -1.000000                 -0.100000
25%            11997.750000           -0.100000                  0.540000
50%            23994.500000            0.780000                  0.720000
75%            35991.250000            0.910000                  0.820000
max            47988.000000            1.000000                  1.000000

       rating.starRating  benefits.comments  benefits.highlights  \
count      146899.000000      165289.000000        165289.000000
mean            3.326927       82645.000000         82645.000000
std             1.301878       47714.968659         47714.968659
min            -0.100000           1.000000             1.000000
25%             3.200000       41323.000000         41323.000000
50%             3.700000       82645.000000         82645.000000
75%             4.000000      123967.000000        123967.000000
max             5.000000      165289.000000        165289.000000

             reviews  salary.salaries          wwfu
count  165290.000000    147149.000000  18741.000000
mean    82645.500000     73575.000000   9371.000000
std     47715.257335     42478.401718   5410.205033
min         1.000000         1.000000      1.000000
25%     41323.250000     36788.000000   4686.000000
50%     82645.500000     73575.000000   9371.000000
75%    123967.750000    110362.000000  14056.000000
max    165290.000000    147149.000000  18741.000000
There are 16 columns